<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name = "productendb_ConnectionString"
         connectionString = "server=localhost;user=root;database=productdb;port=3307;password=usbw"
         providerName = "System.Data.MySqlClient"/>
  </connectionStrings>
</configuration>